.column-container{
    margin: 20px auto;

    background-color: white;

    width: 90%;
    height: 100%;

    border: 1px solid lightgrey;
    border-radius:  10px;

}
.title{
    background-color: lightslategray;
    padding: 8px;
}
.task-list{
    height: auto;
    transition: background-color 0.2 ease;

    border: 1px solid lightgrey;

    margin: 8px;
    padding: 8px;

    min-height: 100px;
}